<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recommendations</title>
</head>
<body>
    <h1> 🎥 Recommendations </h1>
    <p> Hop on the sofa and watch one the folling movie:</p>
    <p>
    <ul style="list-style-type:none">
        <!-- How do we pass python variables to html? -->
        <!-- We use Jinja tags -->
        {% for movie in movies_list %}
            <li>{{movie}}</li>
        {% endfor %}
    </ul>
    </p>
    <p> Click <a href="/">here</a> to go home</p> 
</body>
</html>